.sensor{
    background-color: #93baff;
}

.atuador{
    background-color: #ffbf6c;
}

.TIform{
    width: 350px;
    padding: 15px;
}

.sensorImage{
    max-width:128px;
    max-height:128px;

}